@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Permanent+Marker');

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: #1D1E2C;
	background: url(../images/pexels-photo-296884.jpeg);
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	padding: 0 200px;
}
h1 {
	color: #d7cdcc;
	text-transform: uppercase;
	font-family: "Permanent Marker", cursive;
	font-size: 60px;
	text-align:center;
	letter-spacing: 12px;
}
p {
	font-size: 22px;
	line-height: 1.5em;
}
hr {
	width: 200px;
}
ul {
	list-style-type: square;
}
ul li {
	text-transform: uppercase;
	font-size: 22px;
}
a {
	color: #9c528b;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: normal;
}
a:hover {
	text-decoration: none;
	color: #9c528b;
}
header {
    padding: 20px;
    margin-bottom: 20px;
}
header p {
	color: #d7cdcc;
}
nav {
	background: #1d1e2c;
    padding: 20px;
    margin-bottom: 20px;
}
nav a {
	display: inline;
	font-size: 22px;
	background: #1d1e2c;
	padding: 20px;
}
nav a:hover {
	background: #fff;
}
section {
    padding: 20px;
    margin-bottom: 20px;
}
section a {
	color: #fff;
}
section a:hover {
	color: #fff;
}
#content_wrapper {
	background: #1d1e2c;
    padding: 20px;
    margin-bottom: 20px;
}
#left {
	background: #59656f;
    padding: 1em;
    float: left;
    width: 33.33%;
}
#left p {
	color: #fff;
	font-weight: normal;
	margin: 1em 0;
}
#right {
	background: #d7cdcc;
    padding: 2em;
    float: right;   
    width: 65.66%;
    color: #1d1e2c;
}
#right ul {
	margin-left: 2em;
}
#slogan {
	font-style: italic;
	text-align:center;
}
#contact {
	font-weight: bold;
}
.wrapper {
    padding: 20px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
footer {
	background-color: #1d1e2c;
    padding: 20px;
}
footer p {
	float: left;
	color: #fff;
}
footer ul {
	float: right;
}
footer ul li {
	float: left;
	margin: 0 1em;
	list-style-type: none;
}