@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Permanent+Marker');

body {
	background: #1D1E2C;
	background: url("https://images.pexels.com/photos/348688/pexels-photo-348688.jpeg");
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	padding: 0 200px;
}
h1 {
	color: #D7CDCC;
	text-transform: uppercase;
	font-family: "Permanent Marker", sans-serif;
	font-size: 52px;
	text-align:center;
}
p {
	color: #fff;
	font-size: 22px;
}
#slogan {
	font-style: italic;
	text-align:center;
}
hr {
	width: 200px;
	color: #fff;
}
ul {
	list-style-type: square;
}
ul li {
	color: #9C528B;
	text-transform: uppercase;
}
a {
	color: #d7cdcc;
	text-decoration: underline;
	text-transform: uppercase;
}
a:hover {
	text-decoration: none;
	color: #9c528b;
}